{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <title>{{ post.title|truncatewords:5 }}</title>
</head>

<body>

    <!-- Main content Section -->
    <section id="main-area" class="pt-5 py-2">
        <div class="container">
            <div class="row pt-5">
                <h1 class="responsive-header-text">{{ post.title }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, perspiciatis?</h1>
                <small class="text-muted h6"><i>last updated {{ post.updated }}</i></small>
                <p class="lead">{{ post.body }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda incidunt repellat sapiente voluptates
                     earum error in a expedita recusandae eveniet consequatur obcaecati
                     porro iste, explicabo culpa, quisquam architecto totam eius! Quas accusamus recusandae vero, nostrum 
                     quisquam, magnam iusto id, culpa minima dolorum nisi neque quis doloribus asperiores esse quidem error.</p>
            </div>
            <div class="row">
                <p class="lead"><i><b>Tags:</b> {{ post.tags.all|join:", " }} </i></p>
            </div>
            <div class="row d-flex text-black-50">
                <a class="post-like mr-4" data-value="{{post.get_absolute_url}}/like"><i class="fas fa-thumbs-up fa-2x"></i><span class="badge">{{ post.like_count }}</span></a>
                <a href="{{ post.get_absolute_url }}/share" data-toggle="modal" data-target="#modalContactForm" target="_blank" class="mr-4"><i class="fas fa-share-alt fa-2x"></i></a>
                <a href="{{ post.get_absolute_url }}/download" target="_blank"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
            </div>
            <div class="row mt-3 pt-3">
                <h3 class="mb-2">Suggested Readings</h3>
            </div>
            <div class="row border-bottom border-secondary mt-3">
                
                {% for post in posts %}
                <div class="col-md-6">
                    <div class="card mb-5">
                        <!-- <img src="{% static 'img/card-top-1.jpg' %} " alt="Card Image" class="card-img-top" /> -->
                        <div class="card-body text-dark">
                            <h5 class="card-title">
                                {{ post.title }}
                            </h5>
                            <p class="card-text">
                                {{ post.body | truncatewords:15 }}
                            </p>
                            <p class="card-text">
                                <p><i><b>Tags:</b> {{ post.tags.all|join:", " }} </i></p>
                                <small class="text-muted">Last updated {{ post.updated }}</small>
                            </p>
                            <div class="card-footer text-secondary d-flex justify-content-between">
                                <a class="post-like" data-value="{{post.get_absolute_url}}/like"><i class="fas fa-thumbs-up fa-2x"></i><span class="badge">{{ post.like_count }}</span></a>
                                <a><i class="fas fa-comments fa-2x"></i><span class="badge">{{ post.comment_count }}</span></a>
                                <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- comment section -->
            <div class="mt-2">
                <div class="row">
                    <div class="comments col-md-9" id="comments">
                        <h3 class="mb-2">Comments</h3>
                        <!-- comment -->
                        {% for comment in comments %}
                        <div class="comment mb-2 row">
                            <div class="comment-content col-md-11 col-sm-10">
                                <h6 class="small comment-meta"><a href="#">{{ comment.name }}</a> {{ comment.created }}</h6>
                                <div class="comment-body">
                                    <p>
                                       {{ comment.body }}
                                        <br>
                                        <!-- <a href="" class="text-right small"><i class="fas fa-reply"></i> Reply</a> -->
                                    </p>
                                </div>
                            </div>
            
                            <!-- reply is indented 
                            <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                                <div class="row">
                                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                        <a href=""><img class="mx-auto rounded-circle img-fluid" src="{% static 'img/avatar.jpg' %}"
                                                alt="avatar"></a>
                                    </div>
                                    <div class="comment-content col-md-11 col-sm-10 col-12">
                                        <h6 class="small comment-meta"><a href="#">phildownney</a> Today, 12:31</h6>
                                        <div class="comment-body">
                                            <p>Really?? Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                                <br>
                                                <a href="" class="text-right small"><i class="fas fa-reply"></i> Reply</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             /reply is indented -->
                        </div>
                        {% endfor %}
                        <!-- /comment -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card card-form w-100 bg-transparent">
                    <div class="card-body">
                        <form action="{{ post.get_absolute_url }}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <textarea rows="5" class="form-control" placeholder="Message" required name="body"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="" class="form-control" placeholder="Name" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="" class="form-control" placeholder="Email" />
                                    </div>
                                    <input type="hidden" name="post" value=" {{ post.id }}">
                                    <input type="submit" value="Comment" class="btn btn-secondary btn-block w-50 m-auto" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Footer Section -->
    <section id="footer" class="pt-5 bg-my jumbotron jumbotron-fluid text-black">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>The Prominent Dev</h5>
                        <div class="container">
                            <div class="d-flex">
                                <p>
                                    <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                                    Madan Mohan Malaviya University of Technology, India
                                </p>
                            </div>
                            <div class="d-flex">
                                <a href="tel:+919170067689">
                                    <p>
                                        <i class="fa fa-phone-square" aria-hidden="true"></i> +91
                                        9170067689
                                    </p>
                                </a>
                            </div>
                            <div class="d-flex">
                                <a href="mailto:malviyanshiv@gmail.com?Subject=Call from website">
                                    <p>
                                        <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                        malviyanshiv@gmail.com
                                    </p>
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-md-7 d-flex">
                    <div class="container d-flex">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-center">
                                <form action="">
                                    <div class="form-inline">
                                        <input type="text" name="name" id="" class="form-control mr-1 mb-2" placeholder="Name">
                                        <input type="Email" name="email" id="" class="form-control mr-1 mb-2" placeholder="Email">
                                        <input type="submit" value="Subscribe" class="btn btn-secondary mb-2">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 text-center mt-3">
                                <i class="fab fa-facebook-square fa-2x"></i>
                                <i class="fab fa-github-square fa-2x"></i>
                                <i class="fab fa-linkedin fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="d-block text-center">
            Copyright &copy; <span id="year"></span>
        </p>
    </section>

    <!-- Modal for sharing the post -->
    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Share the Post</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-3 input-group">
                        <div class="input-group-text w-100">
                            <i class="fas fa-user prefix grey-text input-group-prepend mr-4"></i>
                            <input type="text" id="form34" class="form-control w-100 validate" placeholder="Your Name">
                        </div>
                    </div>
    
                    <div class="md-form mb-3 input-group">
                        <div class="input-group-text w-100">
                            <i class="fas fa-envelope prefix grey-text input-group-prepend mr-4"></i>
                            <input type="email" id="form29" class="form-control w-100 validate" placeholder="Your Email">
                        </div>
                    </div>
    
                    <div class="md-form mb-3 input-group">
                        <div class="input-group-text w-100">
                            <i class="fas fa-envelope prefix grey-text input-group-prepend mr-4"></i>
                            <input type="email" id="form32" class="form-control w-100 validate" placeholder="Receiver Email">
                        </div>
                    </div>
    
                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="Your Message"></textarea>
                    </div>
    
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Share Modal form -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $("#year").text(new Date().getFullYear());
        $("body").scrollspy({ target: "#main-nav", offset: 50 });

        $("#main-nav a").on("click", function (e) {
            if (this.hash !== "") {
                e.preventDefault();
                $("html, body").animate(
                    {
                        scrollTop: $(this.hash).offset().top - 45
                    },
                    900,
                );
            }
        });

        $(".post-like").click( function(e){
            $.get( $(e.target).parent().attr("data-value"), function(data){
                console.log(data);
                $(e.target).parent().children()[1].innerHTML = data['is_done'];
                $(e.target).parent().off('click');
                $(e.target).parent().css("cursor", "default");
            })
        });

    </script>
    </body>
    
    </html>