{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static './css/style.css' %}" />
  <title>Blog</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid" id="main-section">
    <div class="container text-center">
      <h1 class="display-3">^_^&nbsp;<strong>BLOG</strong>&nbsp;^_^</h1>
      <p class="lead display-4 d-block my-5">Collection of my writing</p>
    </div>
  </div>

  <!-- Different Post Area -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
          {% for post in posts %}
          <div class="row">
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-lg-6">
              <img src="{% static 'img/card-top-1.jpg' %} " alt="Card Image" class="img-fluid w-100"/>
            </div>
            <div class="col-lg-6">
              <div class="card mb-5">
                <!-- <img src="{% static 'img/card-top-1.jpg' %} " alt="Card Image" class="card-img-top" /> -->
                <div class="card-body text-dark">
                  <h5 class="card-title">
                    {{ post.title }}
                  </h5>
                  <p class="card-text">
                    {{ post.body | truncatewords:40 }}
                  </p>
                  <p class="card-text">
                    <p><i><b>Tags:</b> {{ post.tags.all|join:", " }} </i></p>
                    <small class="text-muted">Last updated {{ post.updated }}</small>
                  </p>
                  <div class="card-footer text-secondary d-flex justify-content-between">
                    <a class="post-like mr-4" data-value="{{post.get_absolute_url}}/like" href="#"><i class="fas fa-thumbs-up fa-2x"></i><span class="badge">{{ post.like_count }}</span></a>
                    <a href="{{ post.get_absolute_url }}"><i class="fas fa-comments fa-2x"></i><span class="badge">{{ post.comment_count }}</span></a>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
              <div class="col-lg-6 order-1 order-lg-0">
                <div class="card mb-5">
                  <!-- <img src="{% static 'img/card-top-1.jpg' %} " alt="Card Image" class="card-img-top" /> -->
                  <div class="card-body text-dark">
                    <h5 class="card-title">
                      {{ post.title }}
                    </h5>
                    <p class="card-text">
                      {{ post.body | truncatewords:40 }}
                    </p>
                    <p class="card-text">
                      <p><i><b>Tags:</b> {{ post.tags.all|join:", " }} </i></p>
                      <small class="text-muted">Last updated {{ post.updated }}</small>
                    </p>
                    <div class="card-footer text-secondary d-flex justify-content-between">
                      <a class="post-like mr-4" data-value="{{post.get_absolute_url}}/like" href="#"><i class="fas fa-thumbs-up fa-2x"></i><span class="badge">{{ post.like_count }}</span></a>
                      <a href="{{ post.get_absolute_url }}"><i class="fas fa-comments fa-2x"></i><span class="badge">{{post.comment_count }}</span></a>
                      <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 order-0 order-lg-1">
                <img src="{% static 'img/card-top-1.jpg' %} " alt="Card Image" class="img-fluid w-100"/>
              </div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-3 d-none d-lg-block">
       <div class="container">
         <div class="row mb-5">
          <form action="">
           <div class="input-group">
             <div class="input-group-text">
              <input type="text" name="search" id="search" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
           </div>
          </form>
         </div>
         <form action="" method="GET">
         <h4>Popular Tags :</h4>
         {% for tag in tags %}
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input tag-check" name="tags[]" id="{{ tag.name }}" value="{{ tag.name }}">
            <label class="custom-control-label" for="{{ tag.name }}">{{ tag.name }}</label>
          </div>
          {% endfor %}
          <input type="submit" value="Filter" class="btn mt-2">
          </form>
       </div>
      </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not posts.has_previous %} disabled {% endif %}"><a class="page-link" href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %}">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#">{{ posts.number }}</a></li>
      <li class="page-item {% if not posts.has_next %} disabled {% endif %}"><a class="page-link" href="{% if posts.has_next %}?page={{ posts.next_page_number }}{% endif %}">Next</a></li>
    </ul>
  </nav>

  <!-- Footer Section -->
  <section id="footer" class="pt-5 bg-my jumbotron jumbotron-fluid text-black">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>The Prominent Dev</h5>
            <div class="container">
              <div class="d-flex">
                <p>
                  <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                  Madan Mohan Malaviya University of Technology, India
                </p>
              </div>
              <div class="d-flex">
                <a class="footer-link" href="tel:+919170067689">
                  <p>
                    <i class="fa fa-phone-square" aria-hidden="true"></i> +91
                    9170067689
                  </p>
                </a>
              </div>
              <div class="d-flex">
                <a class="footer-link" href="mailto:malviyanshiv@gmail.com?Subject=Call from website">
                  <p>
                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                    malviyanshiv@gmail.com
                  </p>
                </a>
              </div>
            </div>
        </div>
        <div class="col-md-7 d-flex">
          <div class="container d-flex">
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-center">
                  <div class="form-inline">
                    {% csrf_token %}
                    <input type="text" name="name" id="subscriber-name" class="form-control mr-1 mb-2" placeholder="Name">
                    <input type="Email" name="email" id="subscriber-email" class="form-control mr-1 mb-2" placeholder="Email">
                    <button class="btn btn-secondary" id="subscribe-submit">Subscribe</button>
                  </div>
              </div>
              <div class="col-sm-12 text-center mt-3">
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-github-square fa-2x"></i>
                <i class="fab fa-linkedin fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="d-block text-center">
      Copyright &copy; <span id="year"></span>
    </p>
  </section>

  <!-- Subscription alert -->
  <!-- <div class="alert alert-info alert-dismissible fade show" role="alert" id="subscription-alert">
    <strong>Subscription Successful! <br></strong> An confirmation has been sent to your specified email. Please confirm your email to get updated with the latest release.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script>
  $("#year").text(new Date().getFullYear());
  $(".footer-section a").on("click", function (e) {
    if (this.hash !== "") {
      e.preventDefault();
      const a = this.hash;
      $("html, body").animate(
        {
          scrollTop: $(a).offset().top
        },
        900,
        function () {
          window.location.hash = a;
        }
      );
    }
  });

  $(".post-like").click(function (e) {
      $.get($(e.target).parent().attr("data-value"), function (data) {
        console.log(data);
        $(e.target).parent().children()[1].innerHTML = data['is_done'];
        $(e.target).parent().off('click');
        $(e.target).parent().css("cursor", "default");
      })
    });

    
  $("#subscribe-submit").click(function(e){
    $.ajax({
      type: 'POST',
      url: './subscribe',
      data: {
        'name': $("#subscriber-name").val(),
        'email': $("#subscriber-email").val(),
        'csrfmiddlewaretoken': $('input[type=hidden]').val()
      },
      success: function(data){
        if( data['status'] == 1 ){
          alert("An confirmation mail has been successfully sent.");
        }else{
          alert("Some unexpected error occurred. Make sure you specify the correct detail and Please try again later...");
        }
      }
    });
  });
</script>

</html>