{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
    <title>{{ post.title|truncatewords:5 }}</title>
<style type="text/css">
    @page {
        size: 'A4';
        margin: 1cm;
        @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 0cm;
            margin-left: 9cm;
            margin-right: 9cm;
            height: 1cm;
        }
    }
</style>
</head>
<body>
<div class="container">
    <div class="row pt-5">
        <h1 class="responsive-header-text">{{ post.title }} Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptates, perspiciatis?</h1>
        <small class="text-muted h6"><i>last updated {{ post.updated }}</i></small>
        <div class="row">
            <p class="lead"><i><b>Tags:</b> {{ post.tags.all|join:", " }} </i></p>
        </div>
        <p class="lead">{{ post.body }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda incidunt
            repellat sapiente voluptates
            earum error in a expedita recusandae eveniet consequatur obcaecati
            porro iste, explicabo culpa, quisquam architecto totam eius! Quas accusamus recusandae vero, nostrum
            quisquam, magnam iusto id, culpa minima dolorum nisi neque quis doloribus asperiores esse quidem error.</p>
    </div>
    <div id="footerContent">
        Page <pdf:pagenumber>
    </div>
</div>
</body>
</html>