body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.navbar img, .navbar span {
    display: inline-block;
    vertical-align: bottom;
}

#sub-form {
    background: #17a2b8;
}

.main-section {
    background: #dae0e5b5;
}

.main-content {
    padding-top: 110px;
    padding-bottom: 100px;
}

.bg-my {
    background: #17a2b8 !important;
}

/* #main-nav {
    background: #00dcff;
} */

.main-content .fas {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #007bff;
}

.about-section, #author-area {
    background: #dae0e5b5;
}

/* #footer {
    background: darkcyan;
    color: white;
} */

#footer a {
    text-decoration: none;
    color: white;
}

.card {
    min-width: 300px;
}

#contact-logo {
    min-height: 250px;
    background: url('../img/blog_icon1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media( max-width: 1200px) {
    #footer input {
        margin: auto;
        display: block;
        width: 100%;
    }
}

@media( max-width: 572px) {
    #footer input {
        display: block;
        width: 100%;
    }
}